#!/usr/bin/make -f

DH_COMPAT=3

package=isco

configure: stamp-configure
stamp-configure: Makefile.in src/Makefile.in
	$(checkdir)
	autoconf
	./configure --prefix=/usr
	touch stamp-configure

build: stamp-build
stamp-build: configure
	$(checkdir)
	make all
	touch stamp-build

clean:
	$(checkdir)
	-rm -f build
	make -C src clean
	make -C util/schema-parser clean
	find -name VERSION | xargs -r rm -f
	dh_clean
	rm -f stamp-*

binary-indep: stamp-binary-indep
stamp-binary-indep: checkroot build
	$(checkdir)
	-rm -rf debian/tmp
	touch stamp-binary-indep

binary-arch: stamp-binary-arch
stamp-binary-arch: checkroot build
	$(checkdir)
	-rm -rf debian/tmp
	install -d debian/tmp
	cd debian/tmp && install -d `cat ../dirs`
	make -C src install PREFIX=../debian/tmp/usr SUBDIRS=""
	make -C util/schema-parser install PREFIX=../../debian/tmp/usr
	make -C util/scripts install PREFIX=../../debian/tmp/usr
	dh_installdocs COPYRIGHT RELEASE TODO
	dh_installchangelogs debian/changelog
	install -m 644 debian/dhelp debian/tmp/usr/share/doc/$(package)/.dhelp
	install -m 644 debian/dwww-index \
		debian/tmp/usr/share/doc/$(package)/.dwww-index
	install -m 644 debian/manpage debian/tmp/usr/share/man/man1/isco.1
	dh_compress		#should be fixed
	dh_installdeb
	dh_shlibdeps
	dh_md5sums
	dh_gencontrol
	dh_builddeb
	touch stamp-binary-arch

define checkdir
	test -f debian/rules
endef

# Below here is fairly generic really

binary: binary-indep binary-arch

source diff:
	@echo >&2 'source and diff are obsolete - use dpkg-source -b'; false

checkroot:
	$(checkdir)
	test root = "`whoami`"

.PHONY: binary binary-arch binary-indep clean checkroot
